<% title %>

<h3>Placeholder</h3>

<p>
This quick_search_umd_theme/quick_search/search/index.html.erb file is a
placeholder for the Quick Search search page.
<p>

<p>
The application using the this gem can override this page by creating an
app/views/quick_search/search/index.html.erb file. See
<a href="https://github.com/NCSU-Libraries/quick_search-generic_theme/blob/master/app/views/quick_search_generic_theme/quick_search/search/index.html.erb">
https://github.com/NCSU-Libraries/quick_search-generic_theme/blob/master/app/views/quick_search_generic_theme/quick_search/search/index.html.erb
</a> for an example implementation.
<p>