.environment-banner {
  height: 25px;
  padding: 2px 25px;
  text-align: center;

  &#environment-local {
    background:#008000;
    color: #fff;
  }
  
  &#environment-development {
    background:#fff100;
    color: #000;
  }

  &#environment-staging {
    background:#0000ff;
    color: #fff;
  }
}



// The Top Nav
.nav-wrapper  { 
  background: $topbar-bg;
  .title-area {
    .name h1 a {
      line-height: 1.3 !important;
      font-family: Crimson,serif !important;
      padding: 10px 5px  !important;
      display: inline-block !important;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
  .top-bar-section { 
    height: 100%; 
    overflow: hidden; 
    ul { 
      li {
        background: $topbar-bg;
        a {
          line-height: 1.3 !important; 
          svg { 
            fill: #fff;
            max-width: 15px;
            vertical-align: middle;
            padding-right: 10px;
            box-sizing: content-box;
            margin-top: -3px;
            pointer-events: none;
            overflow: visible; 
          }
        } 
        
      }
    }
  } 
}

// Sub Nav
.subnav-wrapper { 
  background: #fff;
  padding: 10px 7px;

  .top-bar .toggle-topbar.menu-icon a span::after { 
    box-shadow: 0 0px 0 1px $umd-red, 0 7px 0 1px $umd-red, 0 14px 0 1px $umd-red;
  }
  .top-bar { height: 65px; } 
  .top-bar.expanded .title-area { background: #fff; }
  .top-bar .title-area { height: 100%; }
  .top-bar .name { 
      height: 100%;
      padding-left: 15px; 
    }

  .top-bar-section { 
    height: 100%; 
    ul { 
      li.has-dropdown {  
        > a { 
          background: #fff !important;
          color: rgb(51, 51, 51); 
        }
        background: #fff !important;
        color: rgb(51, 51, 51); 
        &:hover, &:active, &:focus { 
          background: #333 !important;
          color: #fff !important;           
          > a { 
            background: #333 !important;
            color: #fff !important;           
          }
        }     
      
        ul.dropdown > li {
          height: auto;
          padding: 0;
          > a { line-height: 45px; } 
        } 
      }
    }
  } 
}

// Both used in Top and Sub Nav
.top-bar {
  line-height: 1.3 !important;

  &.subtop-bar { 
    background: #fff; 
  }
  .title-area {
    .toggle-topbar.menu-icon {
      margin-top: -20px;
    } 
  } 

  .top-bar-section { 
    ul:not(.dropdown) { 
      li {
        padding: 10px 0; 
        a { 
          display: block;
          font-weight: 700;
           
        }
      } 
     }
  }
}



