@import "foundation";                       // Core Foundation SCSS
@import "font-awesome-sprockets";                     // FontAwesome
@import "font-awesome";                     // FontAwesome
@import "quick_search_umd_theme/variables";
@import "quick_search_umd_theme/header";
@import "quick_search_umd_theme/footer";
@import "quick_search_umd_theme/main";


body { 
  background: #fff;
}
